In [2]:
import pandas as pd

In [7]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = pd.read_csv("Resources/EclipseBugs.csv")
csv_path

,Bug\nID,Product,Component,Assignee,Status,Resolution,Summary,Changed,Assignee\nReal\nName,Classification,...,Number of\nComments,Opened,OS,Priority,Reporter,Reporter\nReal\nName,Severity,Target\nMilestone,Version,Votes
0,3638,JDT,UI,aeschli,VERIFIED,FIXED,Package Viewer: order resource folders before ...,1/17/2002 7:28,Martin Aeschlimann,Eclipse,...,3,10/10/2001 22:58,Windows NT,P1,aeschli,Martin Aeschlimann,major,---,2,0
1,3854,JDT,UI,aeschli,VERIFIED,FIXED,Wrong execution's classpath. (1GEY0W0),1/18/2002 4:02,Martin Aeschlimann,Eclipse,...,5,10/10/2001 23:01,Windows NT,P1,david_audel,David Audel,normal,---,2,0
2,4188,JDT,UI,aeschli,VERIFIED,FIXED,type hierachy - typo (1GJW2XJ),1/28/2002 3:12,Martin Aeschlimann,Eclipse,...,3,10/10/2001 23:07,Windows 2000,P1,erich_gamma,Erich Gamma,normal,---,2,0
3,5115,JDT,Debug,aeschli,VERIFIED,FIXED,Workspace source locator fails with mulitple p...,11/13/2001 10:11,Martin Aeschlimann,Eclipse,...,10,10/19/2001 13:41,Windows 2000,P1,darin.eclipse,Darin Wright,normal,---,2,0
4,5820,JDT,UI,aeschli,VERIFIED,FIXED,Close all editors brings up hierarchy of object,11/20/2001 16:22,Martin Aeschlimann,Eclipse,...,5,11/12/2001 18:18,Windows 2000,P1,jed.anderson,Jed Anderson,normal,---,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,70864,Platform,Debug,darin.eclipse,VERIFIED,FIXED,API method to show the console view has a bug.,8/20/2004 14:42,Darin Wright,Eclipse,...,4,7/26/2004 18:11,Windows XP,P3,bagrodia,Saurabh Bagrodia,minor,3.1,3,0
9996,70955,JDT,Debug,darin.eclipse,VERIFIED,FIXED,Empty string as a program argument not accepted.,10/29/2004 10:27,Darin Wright,Eclipse,...,10,7/28/2004 3:29,Windows NT,P3,paul.smith,Paul Smith,minor,3.1 M3,3,0
9997,71149,Platform,Debug,darin.eclipse,VERIFIED,FIXED,[artwork] When breakpoints are disabled (skipp...,1/14/2005 17:06,Darin Wright,Eclipse,...,17,7/30/2004 7:59,Windows XP,P3,acuretra,Thorbj√∏rn Ravn Andersen,enhancement,3.1 M5,3,0
9998,71292,Platform,Debug,darin.eclipse,VERIFIED,FIXED,Launch name is truncated in MRU list,8/20/2004 15:00,Darin Wright,Eclipse,...,7,8/3/2004 11:11,Windows XP,P3,dj.houghton,DJ Houghton,normal,3.1 M2,3,0
9999,71296,Platform,Ant,darin.eclipse,VERIFIED,FIXED,Ant editor performance tests: opening / typing,10/15/2004 9:30,Darin Wright,Eclipse,...,5,8/3/2004 11:41,Windows XP,P3,Darin_Swanson,Darin Swanson,normal,3.1 M2,3,0

In [8]:
# Finding the average number of comments per bug
average_comments = csv_path["Number of\nComments"].mean()
average_comments

8.75

In [44]:
# Grouping the DataFrame by "Assignee"
assignee_group = csv_path.groupby("Assignee")

# Count how many of each component Assignees worked on and create DataFrame
assignee_work_df = pd.DataFrame(assignee_group["Component"].value_counts())
assignee_work_df.head()

                                Component
Assignee       Component
Aaron_Ferguson UI                      10
Adam_Schlegel  UI                       7
ChrisAustin    User Assistance          3
Claude_Knaus   UI                      31
               Text                     7

In [45]:
# Rename the "Component" column to "Component Bug Count"
assignee_work_df = assignee_work_df.rename(
    columns={"Component": "Component Bug Count"})
assignee_work_df.head()

                                Component Bug Count
Assignee       Component
Aaron_Ferguson UI                                10
Adam_Schlegel  UI                                 7
ChrisAustin    User Assistance                    3
Claude_Knaus   UI                                31
               Text                               7

In [48]:
# Find the percentage of bugs overall fixed by each Assignee
total_bugs = assignee_group["Assignee"].count()
bugs_per_user = assignee_group["Component"].value_counts()

user_bug_percent_df = pd.DataFrame((bugs_per_user/total_bugs)*100)
user_bug_percent_df.head()

                                         0
Assignee       Component
Aaron_Ferguson UI               100.000000
Adam_Schlegel  UI               100.000000
ChrisAustin    User Assistance  100.000000
Claude_Knaus   UI                81.578947
               Text              18.421053

In [49]:
# Rename the "Assignee" column to "Percent of Total Bugs Assigned"
user_bug_percent_df = user_bug_percent_df.rename(
    columns={"Assignee": "Percent of Total Bugs Assigned"})

# Reset the index for this DataFrame so "Assignee" is a column
user_bug_percent_df = user_bug_percent_df.reset_index()
user_bug_percent_df.head()

         Assignee        Component           0
0  Aaron_Ferguson               UI  100.000000
1   Adam_Schlegel               UI  100.000000
2     ChrisAustin  User Assistance  100.000000
3    Claude_Knaus               UI   81.578947
4    Claude_Knaus             Text   18.421053

In [50]:
# Reset the index of "assignee_group" so that "Assignee" and "Component" are columns
assignee_work_df = assignee_work_df.reset_index()

In [53]:
# Merge the "Percent of Total Bugs Assigned" into the DataFrame
assignee_work_df = assignee_work_df.merge(user_bug_percent_df, on="Assignee")
assignee_work_df.head()

,Assignee,Component_x,Component Bug Count,Component_y,0_x,Component,0_y
0,Aaron_Ferguson,UI,10,UI,100.000000,UI,100.000000
1,Adam_Schlegel,UI,7,UI,100.000000,UI,100.000000
2,ChrisAustin,User Assistance,3,User Assistance,100.000000,User Assistance,100.000000
3,Claude_Knaus,UI,31,UI,81.578947,UI,81.578947
4,Claude_Knaus,UI,31,UI,81.578947,Text,18.421053